

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    border-style: solid;
   

}


*{
    margin: 0;
}
body{
    margin: 0;
.biru{
    color: blue!important;
    font-style: italic;
}    
}
h3{
    color:blueviolet;
    text-align-last: right;
    text-decoration: underline;
}

#kuning{
    color:yellow;
}
